$breadcrumb-active:#337AB7;
$header-background: #6699CC;
$header-border: #336699;
$success:#5CB85C;
$info:#5BC0DE;
$info-border:#46B8DA;
$table-border:#DDDDDD;
$table-th-fill:#F5F5F5;
$text-secondary:#A3A3A3;